* {
    font-family: 'Roboto', serif;
}

header {
    background-color: Crimson;
    color: white;
    text-align: center;
    letter-spacing: 5px;
    word-spacing: 30px;
    padding: 10px;
}

#blok1 {
    background-color: MistyRose;
    height: 300px;
    padding: 10px;
    margin: 50px 10px;
    border: 1px solid Crimson;
}

#blok1 img {
    float: left;
    height: 100%;
}

.oferta {
    background-color: Snow;
    height: 450px;
    width: 21%;
    margin: 1%;
    text-align: center;
    border: 1px solid Crimson;
    display: inline-block;
    vertical-align: top;
}


img {
    max-width: 100%;
}


h4 {
    font-size: 180%;
    text-align: center;
    color: Crimson;
}


footer {
    background-color: Crimson;
    color: white;
    clear: both; 
}


a {
    color: white;
}